.popup {
    background-color: rgba(220, 220, 220, 0.707);
    margin-left: auto;
    margin-right: auto;
    top: 0;
    width: 60%;
    z-index: 2000;
    height: 120vh;
  }
  
  .flex-div {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .image-div {
    text-align: center;
    display: flex;
    margin-top: 50px;
  }
  
  .image-container {
    margin: 0 auto;
    width: 100%;
    color: black;
  }
  
  .image-container img {
    width: 60%;
  }
  